html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
}

.label{ font-weight: bolder; }
img[src*="spacer.jpg"] {display: none;}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}

.specs{ background-color: #EBEBEB; }
.specs .row.mainSpecs{ padding:3% 5%;  }
.specs .row:last-child{ background-color: #FFBD65; }
.specs .row:last-child h1{ margin:0; padding:2% 5%; }
.main .eight.columns .row{ display: flex; justify-content: center; }
.main .eight.columns .row .five.columns{ align-self: center; }
.main .eight.columns,.main .four.columns{ text-align: center; }
.main .eight.columns .row .five.columns{ padding:5% 3%; }
.main .four.columns{ padding:5% 3%; }
.tip1AndMeasurement .four.columns{ background-color: #EBEBEB; }
.tip1AndMeasurement .four.columns .row:last-child, 
.shippingAndTracking .eight.columns .row:last-child,
 .shippingAndTracking .four.columns .row:last-child{ background-color: #FFBD65; }

.tip1AndMeasurement .four.columns .row:last-child h1{ margin:0; padding:5% 10%; }
.tip1AndMeasurement .four.columns .row:first-child{ padding:5% 10%;  }
.shippingAndTracking{ margin:4% 0; }
.shippingAndTracking .eight.columns, .shippingAndTracking .four.columns{ background-color: #EBEBEB }
.shippingAndTracking .eight.columns .row:last-child h1,
 .shippingAndTracking .four.columns .row:last-child h1{ margin:0; padding: 25px 40px;}
 .shippingAndTracking .four.columns .row:first-child{ padding:7% 20%; }
 .shippingAndTracking .eight.columns .row .six.columns{ padding:3% 4%; }
  .resistanceAndTips .four.columns{ background-color: #EBEBEB; }
 .resistanceAndTips .four.columns .row:last-child{ background-color:  #FFBD65;  }
  .resistanceAndTips .four.columns .row:first-child{ padding:5% 10%; }
 .resistanceAndTips .four.columns .row:last-child h1{ margin:0; padding:5% 10%; }


@media (min-width: 550px) and (max-width: 1024px) {
  .main .eight.columns .row{ display: block; }
  .main .eight.columns .row .five.columns{ padding:0 7%; }
h1{margin:0; padding:20px 30px !important; text-align: center;}
.other-images{ text-align: center; }
.mainSpecs{ display: none; }
.row.specsLaptop{ display: block !important; }
.specsLaptop .six.columns{ width:50%; margin-left:0; padding:5% 5%; }
.tip1AndMeasurement .four.columns{ display: none; }
.shippingAndTracking .eight.columns{ width:48%; margin-left:0; }
.shippingAndTracking .eight.columns .row .six.columns{ padding:3% 20%; }
.shippingAndTracking .four.columns{ width:48%; margin-left:4%; }
.resistanceAndTips .four.columns{ display: none; }
.tips2{ display: block !important; }
.tips2 .six.columns:first-child{ width:48%; margin-left:0; background-color: #EBEBEB; margin-top:4%; }
.tips2 .six.columns:last-child{ width:48%; margin-left:4%; background-color: #EBEBEB;  margin-top:4%; }
.tips2 .six.columns .row:first-child{ padding:5% 15%; }
.tips2 .six.columns .row:last-child{ text-align: center; background-color:  #FFBD65}


}
/*Tablets and Laptop*/



/*Mobile*/
@media (max-width: 549px) {
h1{margin:0; padding:4% 7% !important; text-align: center;}
.mainSpecs{ padding:10% !important; }
.resistanceAndTips .four.columns{ display: none; }
.tips2{ display: block !important; }
.tip1AndMeasurement .four.columns{ display: none; }
.shippingAndTracking{ margin:0; }
.shippingAndTracking .four.columns .row:first-child, .shippingAndTracking .eight.columns .row .six.columns{ padding-left:10%; padding-right:10%; }
.content1{ padding-top:7%; }
.content2{ padding-bottom:7%; }
.tips2 .six.columns:first-child{ width:100%; margin-left:0; background-color: #EBEBEB;}
.tips2 .six.columns:last-child{ width:100%; margin-left:0%; background-color: #EBEBEB;  }
.tips2 .six.columns .row:first-child{ padding:5% 15%; padding-top:7%; }
.tips2 .six.columns .row:last-child{ text-align: center; background-color:  #FFBD65}
.main .eight.columns .row{ display: block; }
.main .eight.columns .row .five.columns{ padding:0 7%; }
.main .four.columns{ padding:7%; }
.main{ margin-top:10%; }
.shippingAndTracking .four.columns{ padding-top:7%; }
}/*Mobile*/

