.unlocked{ background-color: #F7EDE2; margin-top:4%; position: relative; z-index: 10 }
.unlocked .row{ display: flex; }
.u-ii{ align-self: center; padding:0 10%; }


.camera{ background-color: #8F81A0; margin-top:-10px; position: relative; z-index:30; }
.camera h1, .camera h3{ color: white; margin:0;}
.camera .row{ display: flex; padding-top:4%;}
.camera .row .six.columns:first-child{ padding:0 10%; justify-content:flex-end; }
.camera .row .six.columns:last-child{ align-self: center; }


.beauty{ background-color: white; margin-top:-10px; position: relative; z-index: 50; }
.beauty .row{ display: flex; padding:4% 0; }
.beauty .row .six.columns:first-child{ padding:0 10%; align-self: center; }

.sim{ background-color: #EDBBB5; }
.sim .row{ display: flex; }
.sim .row .six.columns:nth-child(2){ align-self: center; padding:6% 10%}

.memory{ background-color: #ECECEC; }
.memory .row{ display: flex; padding:4% 0;}
.memory .six.columns:last-child{ align-self: center; }
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; text-align: center; }
.unlocked .row .seven.columns{ padding:6% 10%; }
.camera .row{ display: block; text-align: center; }
.camera img{ width:50%; margin-top:4%; }
.beauty .row{ display: block;}
.beauty .row .six.columns:first-child{ text-align: center; }
.beauty .row .six.columns:last-child{ text-align: right; }
.beauty img{ width:70%; margin:4% 0; }
.sim .row{ display: block; }
.sim .row .six.columns:first-child{ padding:0; text-align: right; }
.sim img{ width:70%; }
.sim .row .six.columns:nth-child(2){ text-align: center; }
.memory .row{ display: block; }
.memory .six.columns:nth-child(2){ text-align: center; padding:0 4%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; text-align: center; }
.unlocked .row .seven.columns{ padding:6% 10%; }
.camera .row{ display: block; text-align: center; }
.camera img{ width:50%; margin-top:4%; }
.beauty .row{ display: block;}
.beauty .row .six.columns:first-child{ text-align: center; }
.beauty .row .six.columns:last-child{ text-align: right; }
.beauty img{ width:70%; margin:4% 0; }
.sim .row{ display: block; }
.sim .row .six.columns:first-child{ padding:0; text-align: right; }
.sim img{ width:70%; }
.sim .row .six.columns:nth-child(2){ text-align: center; }
.memory .row{ display: block; }
.memory .six.columns:nth-child(2){ text-align: center; padding:0 4%; }

.os h1{ width:80%; text-align: center; margin:0 auto; }
.os p{ width:80%; }

.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

