html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
  background-color: #F8F1E1;
}

.label{ font-weight: bolder; }

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}

.other-images{ background-color: white; }
.maintospecs{ padding:2%; }
.maintospecs .container{ width:100%; border: 3px solid #37C1AA; }
.maintospecs .container .row.main{ width:70%; float:none; margin: 0 auto; padding: 3%;}
.specsandinclude .seven.columns, .specsandinclude .five.columns{ padding:5%; }
.specs .six.columns{ padding:0 7%; width:50%; margin-left:0;}
.trackandship .title{ text-align: center; background-color: #F2DB5A; padding:2% 0; }
.trackandship .content{ border:3px solid #37C1AA; width: 90%; float:none; margin:2% auto;}
.ship-content{ padding: 3%; }
.ship-content .six.columns{ padding:0 3%; }
.trackandship .track-content{ padding:3%; border-right: 3px solid #37C1AA;}
.row.tips{ border-top: 3px solid #37C1AA; }
.row.tips .six.columns{ width:50%; margin-left:0; padding:3%;}
.t1{ border-right:3px solid #37C1AA; }
.guides{ width:75%; float:none; margin:0 auto; margin-bottom: 3%;}
.pic2{ margin-top: 2%; }
.specs{ border-right:3px solid #37C1AA !important; }


@media (min-width: 1313px){
  .specs{ border-right:0 !important; }
  .include{ border-left: 3px solid  #37C1AA !important; }  
}


@media (min-width: 550px) and (max-width: 1024px) {
  .other-images .four.columns{ width:50%; margin-left:0; }
  .other-images .four.columns.last{ width:100% !important; margin-left:0; text-align: center;}
  .specsandinclude .seven.columns .row .six.columns{ width:50%; margin-left:0; padding:3%; }
  .specsandinclude .five.columns{ border-top: 3px solid #37C1AA; border-left:0 !important; border-right:0; text-align: center;}
  .trackandship .title .five.columns{ width:40%; margin-left: 0; }
  .trackandship .title .seven.columns{ width:60%; margin-left:0; }
  .trackandship .track-content{ width:40%; margin-left:0; border-right:0; padding:0 5%; }
  .trackandship .ship-content{ width:60%; margin-left:0; border-left:3px solid #37C1AA; padding:5% 5%;}
  .row.tips .six.columns{ width:100%; margin-left:0; padding:7%; }
  .t1{border-right:0; border-bottom:3px solid #37C1AA;}
  .guides{ width:100%; }
  .pic2{ margin:0;  }
}
/*Tablets and Laptop*/



/*Mobile*/
@media (max-width: 549px) {
.specsandinclude .seven.columns .row .six.columns{ padding-left:7%; padding-right:7%; }
.specsandinclude .five.columns{ border-top: 3px solid #37C1AA; border-left:0 !important; border-right:0; text-align: center;}
.trackandship{ display: none; }
.trackandship2{ display: block !important;}
.trackandship2 .u-full-width{ background-color: #F2DB5A; text-align: center; padding: 3% 2%;}
.trackandship2 .container{  padding:2%; width:100%; }
.track2-content, .ship2-content{ text-align: center; border:3px solid #37C1AA; padding-top: 7%; padding-bottom:7%;}
.ship2-content .twelve.columns{ padding:0% 10%; }
.tip1a{ border:3px solid #37C1AA; border-top:0;}
.topper{ border-top: 3px solid #37C1AA; padding-top: 10% !important; padding-bottom:10% !important;}
.guides{ width:100%; }
.pic2{ margin:0;  }
.marginner-top{ margin-top: 5%; }
.marginner-bottom{ margin-bottom:10%; }
}/*Mobile*/

