


/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/
h1{ font-family: "Roboto Thin", arial, sans-serif; font-size:300%; margin-top:0 !important;}
h3{ font-family: "Roboto Thin", arial, sans-serif; font-size:150%; color: #5A5A5A; margin-bottom: 0 !important;}

.os{ padding:4% 0; text-align: center; }
.os h1{ width:70%; margin-left:auto; margin-right: auto }
.os p{ width:70%; margin:0 auto; }
.os .row:last-child{ margin-top:4%; }


.unlocked{ background-color: #ECECEC; margin-top:4%; }
.unlocked .row{ display: flex; }
.unlocked .five.columns{ align-self: center; }

.feats{ background-color: white; padding:4%; }
.feats .oci{ margin-top:0; text-align: center; }
.feats img{ width:100px; }

.stream{ background-color: #ECECEC; }
.stream .row{ display: flex; }
.stream .five.columns{ padding:0 4%; align-self: center; }

.proc{ background-color: white; padding:4% 8%; text-align: center; }
.proc img{ width:70%; }

.battery{ background-color:#ECECEC; }
.battery .row{ display: flex; }
.battery .six.columns:first-child{ padding:0 4%; align-self: center; }

.os{ background-color: white; position: relative; margin-top:-10px; z-index: 30}
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/

.highlight img{ max-width:70%; }
.feature .row{ width:92%; }
.feature .ico{ width:75px; }
.feature h3{ font-size:115%; }

.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }


.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; }
.unlocked .seven.columns{ text-align: right; }
.unlocked .seven.columns:first-child img{ width:70%; }
.unlocked .five.columns{ text-align: center; padding:4% 10%; }

.feats{ text-align: center; padding:4% 8%; }

.feats .oci .three.columns{ width:50%; margin-left:0; }

.stream .row{ display: block; text-align: center; }
.stream .five.columns{ padding:4% 8%; text-align: center; }
.stream img{ width:70%; }

.battery .row{ display: block; text-align: center; }
.battery .six.columns:first-child{ padding:4% 8%; }
.battery img{ width:70%; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.highlight img{ max-width:70%; }
.highlight .colors div{ width:50px; height:50px; border-radius: 50%; display: inline-block; margin:0 4px;}


.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }


.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; }
.unlocked .seven.columns{ text-align: right; }
.unlocked .seven.columns:first-child img{ width:70%; }
.unlocked .five.columns{ text-align: center; padding:4% 10%; }

.feats{ text-align: center; padding:4% 8%; }

.feats .oci .three.columns{ width:50%; margin-left:0; }

.stream .row{ display: block; text-align: center; }
.stream .five.columns{ padding:4% 8%; text-align: center; }
.stream img{ width:70%; }

.battery .row{ display: block; text-align: center; }
.battery .six.columns:first-child{ padding:4% 8%; }
.battery img{ width:70%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

