.unlocked{ background-color: #EDD2B4; margin-top:4%; position: relative; z-index: 10; }
.unlocked .row{ display: flex; }
.unlocked .row .six.columns:first-child{ align-self: center; padding:0 4%; }
.camera{ background-color: white; margin-top:-10px; position: relative; z-index: 20; }
.camera .row{ display: flex; }
.camera .row .six.columns:last-child{ align-self: center; padding:8% 10%; }
.selfy{ background-color: white; position: relative; z-index: 30;}
.selfy .row{ display: flex; }
.selfy .six.columns:first-child{ align-self: center; padding:0 4%; }
.touch{background-color: #FFEBD5; position: relative; z-index: 40; margin-top:-10px;}
.touch .row{ display: flex; }
.touch .six.columns:nth-child(2){ align-self: center; padding:8% 4%;}
.memory{ background-color: #ECECEC; }
.memory .row{ display: flex; }
.memory .six.columns:nth-child(2){ align-self: center; }
.os{ margin-top:-10px; position: relative; margin-top:-10px; }
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.s1{ display: none; }
.s2{ display: block !important; }

.unlocked, .camera, .selfy, .touch, .memory{ text-align: center; }
.unlocked .row{ display: block; }
.unlocked .row .six.columns:first-child{ padding-top:6%; text-align: center; }
.camera .row{ display: block; }
.camera .row img{ margin-top:-10px; }
.camera .row .six.columns:last-child{ text-align: center; }
.selfy .row{ display: block; }
.selfy .row .six.columns:first-child{ text-align: center; }
.touch .row{ display: block; }
.touch img{ margin-top:-10px; }
.memory .row{ display: block; }
.memory p{ padding:0 10%; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked, .camera, .selfy, .touch, .memory{ text-align: center; }
.unlocked .row{ display: block; }
.unlocked .row .six.columns:first-child{ padding-top:6%; text-align: center; }
.camera .row{ display: block; }
.camera .row img{ margin-top:-10px; }
.camera .row .six.columns:last-child{ text-align: center; }
.selfy .row{ display: block; }
.selfy .row .six.columns:first-child{ text-align: center; }
.touch .row{ display: block; }
.touch img{ margin-top:-10px; }
.memory .row{ display: block; }
.memory p{ padding:0 10%; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

