

.os{ background-color: #ECECEC; padding:4% 0; text-align: center; }
.os h1{ width:70%; margin-left:auto; margin-right: auto }
.os p{ width:70%; margin:0 auto; }
.os .row:last-child{ margin-top:4%; }

.package .row, .gift .row{ width:65%; margin:0 auto; }
.package .row{ padding:4% 0; }
.package img{ width:100%; }
.gift{ padding-bottom:4%; }

.unlocked{ background-color: #F8F8F8; margin-top:4%;}
.unlocked .row{ display: flex; }
.unlocked .six.columns{ padding:4% 4%;  align-self: center;}
.unlocked img{ margin-top:-4%; }
.camera{ background-color: white; text-align: center; position:relative; z-index: 10;}
.camera p{ width:70%; margin:0 auto; }
.camera img{ margin-top:4%; }
.pdaf{ background-color: #ECECEC; margin-top:-10px; position: relative; z-index: 20; }
.pdaf .row{ display: flex; }
.pdaf .six.columns{ align-self: center; padding:0 4%; }
.beauty{ background-color: white; margin-top:-10px; z-index:30; position: relative;}
.beauty .row{ display: flex; }
.beauty .six.columns{ align-self: center; padding:0 4%; }
.beauty .six.columns:last-child{ text-align: right; }
.battery{ background-color: #ECECEC; margin-top:-10px; position: relative; z-index:40; }
.battery .row{ display: flex; padding:4% 0;}
.battery .six.columns{ align-self: center; }
.battery .six.columns:last-child{ padding:0 4%; align-self: center; }
.touch{ background-color: white; }
.touch .row{ display: flex; }
.touch .six.columns:nth-child(2){ padding:4%; align-self: center; }
.touch .six.columns:last-child{ text-align: right; }
.memory{ background-color: #ECECEC; text-align: center; }
.memory p{ width:70%; margin:0 auto; }
.os{ background-color: white; position: relative; z-index: 50; margin-top:-10px; }

/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/

.banner h1{ font-size:175%; text-align: right;}
.banner h1:last-child{ text-align: left; }

.highlight img{ max-width:70%; }
.feature .row{ width:92%; }
.feature .ico{ width:75px; }
.feature h3{ font-size:115%; }

.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; text-align: center; }
.unlocked .six.columns:nth-child(2){ padding:4%; padding-top:8%;}
.camera{ padding-top:4%; }
.pdaf .row{ display: block; text-align: center; }
.pdaf .six.columns:nth-child(2), .beauty .six.columns:first-child{ padding:4% 8%; }
.beauty .row{ display: block; text-align: center; }
.beauty .row .six.columns:last-child{ text-align: center; }
.battery .row{ display: block; }
.battery .row .six.columns:last-child, .touch .row .six.columns:nth-child(2){ text-align: center; padding:0 8%; padding-bottom:4%; }
.touch .row{ display: block; }
.touch .row .six.columns:first-child{ text-align: right; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
h1{ font-family: "Roboto Thin"; font-size:200%;}
h3{ font-family: "Roboto Thin"; font-size:100%; color: #5A5A5A; }
p{ font-size:100%; }
.dash{ width:20px; height:5px; background-color: #848181; }
.ico{ width:150px; }
.text-with{ justify-content: center; }
.text-with .ico-text{ width:65px !important; }

.banner .row{ display: block; text-align: center;}
.banner .row img{ width:75px; }

.highlight img{ max-width:70%; }
.highlight .colors div{ width:50px; height:50px; border-radius: 50%; display: inline-block; margin:0 4px;}


.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }

.specs{ padding-bottom:8%; }
.specs .s-ii{ width:90%; margin:0 auto; }
.specs .dia{ padding:8%; }
.s-ii .ten.columns .row{ margin-top:2%; }
.s-ii .ten.columns .row .three.columns{ width:40%; margin-left:0; text-align: right; padding-right:20px; }
.s-ii .ten.columns .row .one.column{ width:10%; margin-left:0; }
.s-ii .ten.columns .row .eight.columns{ width:60%; margin-left:0; }
.faq{ padding-bottom:8%; text-align: center; }
.shtr .row .six.columns{ width:100%; margin-left:0; }
.f-ii{ width:80%; margin:0 auto; }

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; text-align: center; }
.unlocked .six.columns:nth-child(2){ padding:4%; padding-top:8%;}
.camera{ padding-top:4%; }
.pdaf .row{ display: block; text-align: center; }
.pdaf .six.columns:nth-child(2), .beauty .six.columns:first-child{ padding:4% 8%; }
.beauty .row{ display: block; text-align: center; }
.beauty .row .six.columns:last-child{ text-align: center; }
.battery .row{ display: block; }
.battery .row .six.columns:last-child, .touch .row .six.columns:nth-child(2){ text-align: center; padding:0 8%; padding-bottom:4%; }
.touch .row{ display: block; }
.touch .row .six.columns:first-child{ text-align: right; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

