html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
  background-color: #FDECDC;
}

.label{ font-weight: bolder; }
img[src*="spacer.jpg"] {display: none;}

ul {
    list-style-position: inside;
    padding-left:0;
}

.container {
  position: relative;
  width: 92%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 92%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 92%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/
.resistanceAndTip .eight.columns, .measurementAndTip .eight.columns{ width:65%; margin-left:0; }
.resistanceAndTip .four.columns, .measurementAndTip .four.columns{ padding:3% 3%; width:35%; margin-left:0;}
.resistanceAndTip .four.columns h1, .measurementAndTip .four.columns h1{ color: #C24032; }
.measurementAndTip .four.columns{ padding-bottom:5%; }
.shippingAndTracking{ background-color: #E4EADC; }
.shippingAndTracking .six.columns{ width:50%; margin-left:0; padding:3% 5%; }
.shippingAndTracking .six.columns h1{ padding-left:6%; color:#C24032; ; }
.shippingAndTracking .six.columns .twelve.columns{ width:50%; margin-left: 0; padding:0 5%; }
.main{ background-color: white; }
.main .five.columns{ padding:5%; text-align: center; }
.infoAndSpecs .four.columns{ width:100%; margin-left:0; }
.infoAndSpecs .four.columns .twelve.columns{ padding:50px 10%; text-align: center; }
.infoAndSpecs .four.columns .twelve.columns h1{ margin:0; }
.infoAndSpecs .four.columns .twelve.columns:first-child{ background-color: #C8DAB8; color: #C24032; }
.infoAndSpecs .four.columns .twelve.columns:last-child{ background-color: #E4EADC; }
.infoAndSpecs .eight.columns{ width:100%; margin-left:0; padding:3% 5%;}
.infoAndSpecs .eight.columns .six.columns{ padding:0 5%; }
.other-images{ background-color: white; }
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.resistanceAndTip .eight.columns, .measurementAndTip .eight.columns, 
.resistanceAndTip .four.columns, .measurementAndTip .four.columns,
.shippingAndTracking .six.columns,
.infoAndSpecs .four.columns,
.infoAndSpecs .eight.columns{ width:100%; margin-left:0; }
.resistanceAndTip .four.columns, .measurementAndTip .four.columns{ padding:5% 15%; }
.infoAndSpecs .four.columns{ background-color: #E4EADC; }
.infoAndSpecs .four.columns .twelve.columns{ width:50%; margin-left:0; }
.infoAndSpecs .eight.columns .six.columns{ width:50%; margin-left:0; }
.other-images .four.columns{ width:50%; margin-left:0; }
.other-images .four.columns:last-child{ width:100% !important; text-align: center; }
/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 700px){
  .infoAndSpecs .four.columns{ width:100% !important; margin-left:0; }
  .infoAndSpecs .four.columns .twelve.columns{ width:100% !important; margin-left:0; height:150px !important; padding-left:5%; padding-right:5%; text-align: center; display: flex; justify-content: center;}
  .infoAndSpecs .four.columns .twelve.columns div{ align-self: center; }
}


@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
body{ text-align: center; }
.resistanceAndTip .eight.columns, .measurementAndTip .eight.columns, 
.resistanceAndTip .four.columns, .measurementAndTip .four.columns,
.shippingAndTracking .six.columns,
.infoAndSpecs .four.columns,
.infoAndSpecs .eight.columns{ width:100%; margin-left:0; }
.resistanceAndTip .four.columns, .measurementAndTip .four.columns{ padding:5% 10%; }
.shippingAndTracking .six.columns h1{ padding-left:6%; color:#C24032; ; }
.shippingAndTracking .six.columns .twelve.columns{ width:100%; margin-left: 0; padding:0 10%; }
.shippingAndTracking .six.columns:first-child{ padding-top:10%; }
.shippingAndTracking .six.columns:last-child{ padding-bottom: 10%; }
.main .five.columns{ padding:5% 15%; padding-bottom:10%;}
.infoAndSpecs .eight.columns{ padding:10%; }
/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

