body {
	padding: 0 10px;
!important;	font-family: Arial;
	line-height: 1.2;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}
header, nav, section, article, aside, footer {
	display: block;
}

.img-responsive{ 
display: inline-block;
max-width: 100%!important;
height: auto;
border-width: 0;

}


h1 {
	font-size: 24px;
}
h2 {
	font-size: 14px;
	font-weight: bold;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 16px;
}
img {
	border-style: none;
	border-color: inherit;
	border-width: 0;
	padding: 0;
	marign: 0;
}
.callout {
	margin: 10px auto;
	background: #ecf8ff;
}
.img-responsive {
	display: inline-block;
	max-width: 100%!important;
	height: auto;
	border-width: 0;
}
.small .pagebreak {
	page-break-after: always;
}
.clear {
	clear: both;
}
.pagecontainer {
	margin: 0 auto;
	width: 1110px;
}
#wrap {
	margin: 0 auto;
	width: 1110px;
	background: #fff;
}
#headWrap {
	width: 1110px;
	height: 141px;
	margin: 0 auto;
	position: relative;
}
#leftWrap {
	width: 198px;
	float: left;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
}
#rightWrap {
	float: right;
	width: 880px;
	margin: 10px 0 0 0;
}
#rightWrap .subPage {
	width: 850px;
	float: left;
	margin: 0 0 0 0;
	padding: 0 10px;
}
nav {
	margin: 10px auto;
	padding: 0 10px;
	background-color: #eaeaea;
	border: solid 1px #e7e7e7;
}
@media 
{
nav {
	background-color: #eaeaea;
	border: solid 1px #e7e7e7;
}
}
nav ul {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	text-align: left;
}
nav ul li {
	display: inline-block;
	padding: 8px;
}
nav ul li a {
	display: block;
	margin-right: 20px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #777;
}
nav ul li a:hover {
	color: #fff;
}
nav ul li.selected a {
	color: #fff;
}
.intro {
	margin: 10px auto;
	text-align: center;
}
.intro > a {
	color: #428bca;
	text-decoration: none;
}
.intro > h4 {
	color: #31708f;
	font-weight: 600;
}
mark {
	background-color: #d9534f;
	border-radius: 4px;
	color: #fff;
	padding: 5px 10px;
}
.groupimg {
	display: table;
	width: 100%;
	margin-left: 0;
	margin-right: 10px;
}
.groupimg > table {
	width: 100%;
	border-collapse: collapse;
	border: 5px solid #ddd;
	text-align: center;
}
.groupimg tr:nth-child(even) {background-color:#ddd}
.groupimg td {
	border: 5px solid #ddd;
	text-align: center;
}
.groupimg p {
	background-color: #ddd;
	font-size: 16px;
}
section {
	margin: 10px auto;
	padding: 0;
	border: solid 1px #d1d79f;
}
section header {
	padding: 5px;
	color: #484e17;
	background-color: #d7de9e;
	border-color: #d1d79f;
	font-weight: bold;
}
section div {
	padding: 8px;
}
section table {
	max-width: 100%;
	padding: 5px;
}
section ul {
	padding: 8px;
	list-style-type: none;
}
section ol {
	padding: 8px;
	list-style-type: none;
}
section li {
	padding: 8px;
}
section p {
	padding: 8px;
}
section img {
	margin: 30px auto;
}
.section {
	margin: 10px auto;
	padding: 0;
	border: solid 1px #ddb410;
}
.section-heading {
	padding: 8px;
	color: #4a3d0b;
	background-color: #e4ba12;
	border-color: #ddb410;
	font-weight: bold;
}
.section > div {
	padding: 8px;
}
.section > table {
	width: 100%;
	padding: 5px;
}
.section > p, ul {
	padding: 8px;
}
article {
	width: 100%;
	border: solid 1px #f6f4bd;
}
article header {
	padding: 8px;
	color: #077707;
	background-color: #fffdcc;
	border-color: #f6f4bd;
	font-weight: bold;
}
article div {
	padding: 8px;
	line-height: 20px;
}
article table {
	width: 100%;
	padding: 5px;
}
article ul {
	padding: 8px;
	list-style-type: none;
}
article ol {
	padding: 8px;
	list-style-type: none;
}
article li {
	padding: 5px;
}
article p {
	padding: 8px;
}
.container {
	display: table;
	margin: 10px auto;
	width: 100%;
}
.row {
	display: table-row;
}
.column {
	display: table-cell;
}
.column-left {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
	width: 50%;
}
.column-right {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
	width: 50%;
}
.description > table {
	border: #ddd solid 1px;
	width: 100%;
}
.description tr:nth-child(even) {background-color:#f9f9f9}
.description td {
	border: 1px solid #ddd;
	padding: 5px;
}
.description div {
	padding: 8px;
	line-height: 20px;
}
.description h3 {
	color: #31708f;
}
.description h4 {
	color: #388888;
}
.description h5 {
	color: #777;
}
.description ol {
	list-style-type: none;
}
.shipping {
	margin: 10px auto;
	padding: 0;
	border: solid 1px #a8916a;
}
.shipping-heading {
	padding: 8px;
	color: #fff;
	background-color: #826e4b;
	border-color: #a8916a;
	font-weight: bold;
}
.shipping-body {
	padding: 8px;
	font-weight: 300;
	line-height: 2;
	text-align: center;
}
.shipping-body > h3 > strong {
	background-color: #d9534f;
	border-radius: 4px;
	color: #fff;
	padding: 5px 10px;
}
.shipping-body > h4 > strong {
	color: navy;
}
.shipping-body > h4 > b {
	background-color: #d9534f;
	border-radius: 4px;
	color: #fff;
	padding: 5px 10px;
}
.shipping-body > dl {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.shipping-body > dl dt {
	font-weight: bold;
	line-height: 20px;
}
.shipping-body > dl dd {
	line-height: 20px;
	margin-bottom: 20px;
}
.shipping-body > div {
	text-align: left;
	padding: 8px;
}
.shipping-body > p {
	padding: 8px;
	text-align: left;
}
.email {
	margin: 10px auto;
	font-family: Arial;
	display: block!important;
	max-width: 1024px!important;
	clear: both!important;
}
.email table {
	border: #ddd solid 1px;
	max-width: 1024px!important;
}
.email th {
	text-align: left;
}
.email td {
	border: 1px solid #ddd;
	padding: 5px;
}
footer {
	margin: 10px auto;
	font-size: 12px;
	text-align: left;
}

.withdrawal{ width:92%; margin:0 auto;}