html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Bebas", Arial, sans-serif;
  background-color: #D7D3CA;
}
img[src*="spacer.jpg"] {display: none;}


h1,h2,h3,{ font-family: "Bebas", Arial, sans-serif; }
p,span{ font-family: "Cambria", serif;  }

.container {
  position: relative;
  width: 92%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 92%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 92%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


.divider{ width: 100%; height: 50px; background-color: black; z-index: 999;}
h1.header{ width: 100%; border-top: 7px solid black; border-bottom: 7px solid black; margin-top: 0; padding-top: 70px; padding-bottom: 30px; }
.htext{ margin-left: 4%; font-family: "Bebas", Arial, sans-serif; }
.label{ font-weight: bolder; }

.shipping .three.columns{ margin-left: 0; width: 25%; }
.shipping .three.columns .bd-r{ border-left: 1px solid black; height: 100px; padding-left: 20px; padding-right: 20px;}
.shipping img{ max-width: 60px; margin-right: 5px; vertical-align: middle; }
.shipping h2{ font-weight: lighter; padding-left: 20px; }
.shipping .row{ margin-bottom: 40px; }
.shipping{ margin-bottom: 50px; }
.add-some{ padding-left: 20px; padding-right: 20px; }

.main .six.columns{ margin-left: 0; width: 50%; }
.main .header{ text-align: center; background-color: yellow; padding: 50px 0; }
.main-img img{ margin:0; }
.include{ padding: 0 40px; }
.include .include-img { padding-top: 40px; }
.include .include-info{ padding-top: 30px; padding-left: 30px; font-weight: bold; }
.include ._2{ font-weight: lighter;font-style: italic; }

.specs .row.desktop{ width: 92%; margin: 0 auto; }
.specs .spc-bd-l{ height: 300px; border-left: 1px solid #7D7975; padding-left: 20px; }


.otherImages{ margin-top: 70px; margin-bottom: 70px;}


.tips{ background-color: black; padding: 50px 0; }
.tips .four.columns{ background-color: yellow; }
.tips .four.columns h1{ text-align: center; }
.tips .four.columns hr{ border: 2px solid black; }
.tips .four.columns .content{ padding: 40px;  }
.tips .four.columns .content img{ margin-right: 5px; max-width: 50px; vertical-align: middle;}
.tips .breaker{ width: 100%; height: 200px;   }
.tips .twelve.columns{ height: 50px;}
.tips .watch-res{ margin-left: 0; }




.tracking .three.columns{ width: 25%; margin-left: 0; }
.tr-bd-r{ border-left: 1px solid black; height: 100px; padding-left: 20px; }
.tracking-wrapper{ margin-bottom: 70px; }


@media (min-width: 550px) and (max-width: 1024px) {
	.shipping .three.columns{  width: 50%; margin-left: 0; padding-right: 0; }
	.shipping .three.columns .bd-l{border: none;padding-left: 20px;}
	.main .six.columns.main-img{ width: 100%; margin-left: 0; box-sizing: border-box; float: left !important; }
	.main .six.columns.u-pull-left{ width: 100%; margin-left: 0; }
	.main .include{ padding: 0 50px; padding-bottom: 50px; }


  .row.desktop{ display: none; }
  .row-laptop{ display: block !important; }
  .row-laptop .row{ width: 88%; margin: 0 auto !important;}
  .row-laptop .six.columns{ width: 50%; margin-left: 0; padding-right: 20px;}
  .row-laptop .six.columns:nth-child(2){ border-left: 1px solid black; padding-left: 20px; height: 450px;}


	.otherImages .four.columns{ width: 48%; }
	.otherImages .four.columns:nth-child(2){ margin-left: 4%; }
	.otherImages .four.columns:nth-child(3){ width: 100%; margin-left: 0; margin-top: 40px; }
	.otherImages .four.columns:nth-child(3) img{ width: 50%; display: block; margin: 0 auto; }


	.tips .four.columns{ width: 48%; margin-left: 0;  margin-top: 50px; margin-bottom: 50px; }
	.tips .four.columns:nth-child.u-pull-right{ margin-left: 4%; }
	.twelve.columns{ display: none; }

	.tracking .three.columns{ width: 50%; }
	.tracking .bd-3{ padding-left: 20px; border: 0; }
	
}
/*Laptop*/
@media (max-width: 549px) {

  h1.header{ text-align: center; }
  h1.header span{ margin:0; }

	.shipping .container{ width: 75%; float: none; }
	.shipping .three.columns{ width: 100%; text-align: center;  }
	.shipping .three.columns .bd-r{ border: none; padding-right: 0; padding-left: 0; }
	.shipping .three.columns .bd-l{ padding-left: 0; padding-right: 0; }
  	.shipping .three.columns .bd-r{ height: auto; }
  	.shipping .three.columns .add-some{ padding-left: 0; padding-right: 0; }
  	.shipping .three.columns h2{ padding: 0; }
	
	.main .six.columns.u-pull-right{ width: 100%; }
  .main .six.columns.u-pull-right img{ margin:0; }
	.main .six.columns.u-pull-left{ width: 100%; }
	.main .include{ padding-bottom: 50px; }
	

	.specs .four.columns{ width: 100%; text-align: center; margin-top: 0;}
	.specs .spc-bd-l{ border: 0; height: auto; }
	.l-line{  }
	.otherImages .four.columns{ margin-top: 50px; }

	.tips{ padding-top: 20px !important; }
	.tips .twelve.columns{ display: none; }
	.tips .four.columns{ margin-top: 40px !important; }
	.eight.columns.watch-res{ margin-top: 40px; }

	.tracking .three.columns{ width: 100%; height: auto !important; text-align: center;}
	.tr-bd-r.bd-3{ padding-left: 0; border: 0; }
	.tracking .tr-bd-r{ padding-left: 0; padding-right: 0; border: 0; height: auto; }

	
}/*Mobile*/

/*Additional breakpoint*/
@media (min-width: 1025px) and (max-width: 1190px) {

  .six.columns.u-pull-left .header{ padding-top: 20px; padding-bottom: 20px; }

}

@media (max-width: 700px) {
  .tips .four.columns{ width: 100%; }
  .tips .four.columns.u-pull-right{ margin-top: 0; }
}