
.feature{ background-color: #FFEBD5; padding:3% 0; margin-top:4%; color: #A89784; }
.feature .row{ width:75%; margin:0 auto; }
.feature .ico{ width:125px; }
.feature .three.columns{ padding:0 2%; width:25%; margin-left:0; text-align: center; border-right: 1.5px solid #A49381; height:225px;}
.feature .three.columns:last-child{ border-right:none; }
.feature h3{ font-family: "Roboto Thin"; font-size:150%; }


.unlocked{ background-color: #FFD8D3; position: relative; z-index: -3; }
.unlocked .row{ display: flex;  width:80%; margin:0 auto; }
.unlocked .six.columns{ align-self: center; padding:0 4%; }
.unlocked .six.columns:first-child{ align-self: flex-end; margin-bottom:-10px; position: relative; z-index: -2; }
.unlocked .six.columns:nth-child(2){ padding:10% 0; }
.unlocked img{ margin-top:4%; }


.camera-front{ position: relative; z-index: 500; margin-top:-10px; background-color: white; }
.camera-front .row{ display: flex; width:80%; margin:0 auto;  }
.camera-front .six.columns{ align-self: center; padding:0 4%;}
.camera-front .six.columns:first-child{ align-self: flex-end; }
.camera-front .six.columns:nth-child(2){ align-self: center; padding:8% 4%;}


.touch{ background-color: #FFEBD5; margin-top:-10px; z-index: 1000; position: relative; }
.touch .row{ display: flex; padding:0; padding-bottom:4%; width:80%; margin:0 auto; }
.touch .six.columns{ width:50%; margin-left:0; }
.touch .six.columns:nth-child(2){ padding:0 4%; align-self: center; display: flex; }
.touch .six.columns:last-child{ text-align: right; align-self: center; }


.ram{ padding:4% 0; }
.ram .row:first-child{ text-align: center; }
.ram .row:last-child{ text-align: center;  }
.ram h1{ margin-bottom:0; }
.ram p{ margin:0; color:#5A5A5A; }


.os{ background-color: #ECECEC; padding:4% 0; text-align: center; }
.os h1{ width:70%; margin-left:auto; margin-right: auto }
.os p{ width:70%; margin:0 auto; }
.os .row:last-child{ margin-top:4%; }
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.highlight img{ max-width:70%; }
.feature .row{ width:92%; }
.feature .ico{ width:75px; }
.feature h3{ font-size:115%; }

.unlocked .row, .camera-front .row, .touch .row{ display: block;  }
.unlocked .six.columns, .camera-front .six.columns, .touch .six.columns{ width:100%; text-align: center; }

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ padding-top:4%; }

.touch{ margin-top:-5px; }
.touch .six.columns:first-child{ margin-top:-5px; }

.ram p{ width:80%; margin:0 auto; }
.os p{ width:80%; }

.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.highlight img{ max-width:70%; }
.highlight .colors div{ width:50px; height:50px; border-radius: 50%; display: inline-block; margin:0 4px;}
.feature .row{ width:92%; }
.feature .row .three.columns{ width:50%; margin-left:0; border:0; height:150px; }
.feature .ico{ width:50px; }
.feature h3{ font-size:100%; }

.unlocked .row, .camera-front .row, .touch .row{ display: block;  }
.unlocked .six.columns, .camera-front .six.columns, .touch .six.columns{ width:100%; text-align: center; }

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ padding-top:4%; }
.camera-front p{ margin-bottom:8%; }
.touch{ margin-top:-5px; }
.touch .text-with{ margin-top:8%; margin-bottom:8%; }
.touch .six.columns:first-child{ margin-top:-5px; }

.ram p{ width:80%; margin:0 auto; margin-bottom:8%; }
.os p{ width:80%; }

.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

