/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img[src*="spacer.jpg"] {display: none;}

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */

/* For devices larger than 550px */

@media (min-width: 768px) {
  .columns {
    margin-left: 4%;
  }

  .columns:first-child {
    margin-left: 0;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .six.columns {
    width: 48%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* Offsets */
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

html,body {
  max-width:100vw;
  overflow-y:scroll;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.3rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 4.0rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3.0rem;
  }

  h4 {
    font-size: 2.7rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,button:hover,.button:focus,button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Removes awkward default styles on some inputs for iOS */

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: circle inside;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

td {
  /*padding: 12px 15px;*/
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,.button {
  margin-bottom: 1rem;
}

table,p,ul {
  margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */

@media (min-width: 300px) and (max-width: 632px) {
  .to-center {
    text-align: center;
  }

  .to-center li {
    text-align: left;
  }

  table {
    overflow-x: auto;
    display: block;
  }

  table tr td {
    font-size: 1.5rem;
  }

  .heads {
    font-size: 2.5rem;
  }
}

/* Larger than mobile */

/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {
  .to-center {
    text-align: center;
  }

  .to-center li {
    text-align: left;
  }
}

/* Larger than phablet (also point when grid becomes active) */

/* Larger than tablet */

@media (min-width: 750px) {
  .to-center {
    text-align: center;
  }

  .to-center li,  .to-center h4 {
    text-align: left;
  }
}

/* Larger than tablet */

/*Laptop*/

@media (min-width: 768px) and (max-width: 1000px) {
  .two.columns.sub-image {
    width: 28%;
    margin-top: 20px;
  }

  .six.columns.main-img {
    width: 100%;
    margin-left: 0;
  }

  .six.columns.main-img img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .six.columns.to-center {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

/*Laptop*/

/* Larger than desktop */

@media (min-width: 1000px) {
  .to-center h4 {
    text-align: left;
  }

  td {
    font-size: 1.5rem;
  }
}

/* Larger than Desktop HD */

/* Larger than Desktop HD */

/* Custom */

.heads {
  text-align: center;
  background-color: #77181E;
  color: white;
  padding: .25em;
}

.label {
  font-weight: bolder;
  color: #282832;
}

.section-a {
  text-align: center;
  background-color: #C6D6D6;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-b {
  text-align: center;
  background-color: #DEE7E7;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-c {
  background-color: #C6D6D6;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon {
  max-width: 75px;
}

.sub-image {
  margin-top: 20px;
}