html, body {
  max-width:100vw;
  overflow-y:scroll;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
}

.label{ font-weight: bolder; }
img[src*="spacer.jpg"] {display: none;}

ul {
    list-style-position: inside;
    padding-left:0;
}

.container {
  position: relative;
  width: 92%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 92%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 92%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/
.guides .container{ border:1px solid #d1d79f; }
.guides h1{ background-color: #D7DE9E; color: #484E17; margin:0; padding:1% 5%; width:90%; margin-bottom:1%;}
.guides a{ display: block; margin-left:4%; padding-bottom:4%; }
.image-guide{ text-align: center; }
.image-guide:first-child{ margin-top:2%; }
.image-guide:last-child{ margin-top:2%; margin-bottom:2%; }

.why{ margin-top:4%; }
.why .six.columns h3{ background-color: #FFFDCC; color:#077707; margin:0; padding:4% 5%;}
.why .six.columns{ border:1px solid #f6f4bd; }
.why .six.columns .content{ padding:4%; }

.main{ text-align: center; }
.title{ text-align:center; }

.mainAndSpecs{ margin-top:4%;  }
.mainAndSpecs .container{ border:1px solid #ddd; padding-top:1%; padding-bottom:5%; }
/*.mainAndSpecs h3{ text-align: center; padding:4% 10%; width:80%; margin:0;}*/
.mainAndSpecs .row.title{ padding:2% 15%; width:70%; background-color: #F9F9F9;}

.specs { display: table; width:100%; border-collapse: collapse; }
.specs .row{ display: table-row; border: 1px solid #ddd; border-right: 0; border-left: 0}
.specs .columns{ padding-top:10px; padding-bottom:10px; }
.specs .row .six.columns,
.specs .row .six.columns
{ display: table-cell; }
.specs .row .six.columns span{ float: right;  }
.specs .row:nth-child(odd){ background-color: #F9F9F9; }

.include-info{ text-align: center; }

.tips{ margin:4% auto; }
.tips .six.columns h2{ background-color: #FFFDCC; color:#077707; margin:0; padding:4% 5%;}
.tips .six.columns{ border:1px solid #FFFDCC;  }
.tips .six.columns .content{ padding:4%; }

.shippingAndDelivery .container{ border:1px solid #826E4B; }
.shippingAndDelivery h1{ background-color: #826E4B; color: white; margin:0; padding:2% 5%; width:90%; }
.shippingAndDelivery .content{ padding:4%; }
.shippingSpot{ text-align: center; }
.shippingSpot span{ background-color: #d9534f; color: white; display: inline-block; padding:5px 10px; border-radius: 4px; }

.tracking{ margin:4% auto; }
.tracking .container{ border:1px solid #D7DE9E; }
.tracking h1{ background-color: #D7DE9E; padding:2% 5%; width:90%; color: #484E17; margin:0;}
.tracking .content{ padding:4%; }

/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/


@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.specs .row .six.columns span{ float: none;  text-align: center; }
.specs{ text-align: center; }
/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
.specs .row .six.columns span{ float: none;  text-align: center; }
.specs{ text-align: center; }
/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

