html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
}

.label{ font-weight: bolder; }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}

.main .row{ width:70%; float:none; margin:0 auto;}
.main .row .title{ padding: 5% 5%; text-align: center;}
.specs{ background-color: #D7DCB3; border-top: 10px solid #B7D0CD; border-bottom: 10px solid #B7D0CD; padding:3% 0;}
.specs .row{ width:70%; float:none; margin:0 auto; }
.includeAndResistanceChart{ border-top: 10px solid #B7D0CD; border-bottom: 10px solid #B7D0CD; }
.includeAndResistanceChart .four.columns{ text-align: center; padding:3% 3%; width:35%; }
.includeAndResistanceChart .eight.columns{ width:65%; margin-left:0; }
.t1{ background-color: #D7DCB3; }
.tips .six.columns{ width:50%; margin-left:0; padding:3% 5%;}
.tips{border-bottom: 10px solid #B7D0CD;  }
.watchmeasurementAndTracking{ background-color: #D7DCB3; border-bottom: 10px solid #B7D0CD;}
.watchmeasurementAndTracking .four.columns{ width:35%; margin-left:0; }
.watchmeasurementAndTracking .four.columns h1{ width:100%; margin:0; text-align: center; background-color: #B7D0CD; padding:7% 0;}
.watchmeasurementAndTracking .four.columns .row{ width:50%; float:none; margin:0 auto; }
.watchmeasurementAndTracking .eight.columns{ width:65%; }
.shipping{ margin-bottom:5%; }
.shipping h1{ width:100%; margin:0; text-align: center;padding:3.5% 0; background-color: #B7D0CD; }
.shipping .row{ width:70%; margin:0 auto; float:none; }

@media (min-width: 550px) and (max-width: 1024px) {
  .main .row .six.columns{ width:50%; margin-left:0; }
  .specs .row{ width:100%; }
  .specs .row .six.columns{ width:50%; margin-left:0; padding:5% 7%;}
  .other-images{ text-align: center; }
  .laptopview1{ display: block !important; border-top: 10px solid #B7D0CD;}
  .laptopview1 .six.columns{ width:50%; margin-left:0; }
  .laptopview1 h1{ margin:0; padding:5% 0; text-align: center; background-color: #B7D0CD; }
  .laptopview1 .six.columns .row{ padding:5% 20%; }
  .laptopview1 .tracking{ background-color: #D7DCB3;}
  .include-info{ padding:2% 10%; }
  .includeAndResistanceChart .four.columns{ display: none; }
  .includeAndResistanceChart .eight.columns{ width:100%; }
  .watchmeasurementAndTracking .four.columns{ display: none; }
  .watchmeasurementAndTracking .eight.columns{ width: 100%; }
  .shipping .row{ width:90%; float:none; margin:0 auto; }
  .shipping .six.columns{ width: 50%; margin-left:0; padding:3% 5%;}
  .tips .six.columns{ width:100%; padding:5% 7%; }

}
/*Tablets and Laptop*/



/*Mobile*/
@media (max-width: 549px) {
  .includeAndResistanceChart .four.columns, .includeAndResistanceChart .eight.columns, .tips .six.columns, .watchmeasurementAndTracking .four.columns, .watchmeasurementAndTracking .eight.columns{ width: 100%; margin-left:0;  }
  .includeAndResistanceChart .four.columns{ padding:10%; }
  .tips .six.columns{ padding:10%; }
  .watchmeasurementAndTracking .four.columns .row{ padding:10%; }
  .shipping .row{ padding:0 10%; }
  .shipping{ margin-bottom:10%; }
}/*Mobile*/

