html, body {
   max-width:100vw;
  overflow-y:scroll;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
}

.label{ font-weight: bolder; }
img[src*="spacer.jpg"] {display: none;}

ul {
    list-style-position: inside;
    padding-left:0;
}

.container {
  position: relative;
  width: 92%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 92%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 92%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/
.main .row{ text-align: center; }
.specs{ width:80%; margin:0 auto; }
.specs h1{ width:50%; padding:2% 3%; margin:0 auto; text-align: center; color:#AA0000;  }
.other-info h2{ color: white; margin:0 auto; background-color:#AA0000; padding:2%; border-radius: 5px; width:50%;}
.specs h3{ text-align: center; color: #AA0000; width:50%; margin:2% auto; padding-bottom:2%; border-bottom:1px solid #ccc;}
.specs p{ margin:0; }
.specs .four.columns{ text-align: right; }
.specs .eight.columns{ text-align: left; }
.other-info .six.columns{ width:50%; margin-left:0; padding:4%; }
.other-info .row{ text-align: center; }
.shippingAndTracking { margin:5% 0; }
.shippingAndTracking .six.columns{ width:50%; margin-left:0; padding:0 4%;}
.shippingAndTracking .six.columns h1{ padding-left:5%; color: #880002;}
.shippingAndTracking .six.columns h2{ color:#AA0000; }
.shippingAndTracking .six.columns .twelve.columns{ width:50%; margin-left:0; padding:0 5%; }
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.other-images{ text-align: center; }
.specs h3{ text-align: center; color: #AA0000; width:80%; margin:2% auto; padding-bottom:2%; border-bottom:1px solid #ccc;}
.specs{ width:90%; margin:0 auto; }
.specs .four.columns{ width:40%; margin-left:0; text-align: right; padding-right:5%;}
.specs .eight.columns{ width:60%; margin-left:0; }
.other-info .six.columns{ width:100%; margin-left:0; }
.shippingAndTracking .six.columns{ width:100%; margin-left:0; }
/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
.other-images{ text-align: center; }
.specs h1{ width:80%; padding:2% 3%; margin:0 auto; text-align: center; color:#AA0000;  }
.specs h3{ text-align: center; color: #AA0000; width:80%; margin:2% auto; padding-bottom:2%; border-bottom:1px solid #ccc;}
.other-info h2{ color: white; margin:0 auto; background-color:#AA0000; padding:2%; border-radius: 5px; width:80%;}
.specs{ width:90%; margin:0 auto; }
.specs .four.columns{ width:40%; margin-left:0; text-align: right; padding-right:5%;}
.specs .eight.columns{ width:60%; margin-left:0; }
.other-info .six.columns{ width:100%; margin-left:0; }
.shippingAndTracking{ text-align: center; }
.shippingAndTracking .six.columns{ width:100%; margin-left:0; }
.shippingAndTracking .six.columns .twelve.columns{ width:100%; margin-left:0; }
/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

