html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
  background-color: #D5DBD1;
}
img[src*="spacer.jpg"] {display: none;}

.label{ font-weight: bolder; }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}

hr{ border: 3px solid #FBF9ED }
.other-images{ background-color: white; }
.mnninc .five.columns{ width:43%; }
.mnninc .seven.columns{ width:55%; margin-left:2%;  }
.title .twelve.columns{ background-color: #FBF9ED; padding:0 10%; }
.mnninc, .spandtr, .shipping, .tips{ padding:2%; }
.spandtr, .tips{ padding-top:0; }
.specs{ background-color: #FBF9ED; padding:5% 2%; }
.specs .six.columns{ padding:0 5%; }
.include{ margin-top:4%; }
.include-info{ padding:3%; background-color:#FBF9ED ;}
.tracking h1{ margin-top:0;  }
.tracking1 { background-color: #C2B59B; padding:5% 10%; }
.guides .six.columns{ width:50%; margin-left:0; }
.shipping .container{ background-color: #C2B59B ; padding:5% 7%; }
.shipping .container .row { width:80%; float:none; margin:0 auto; }
.tips .six.columns{ background-color: #FBF9ED; width:49%; margin-left:0; padding:3% 5%;}
.tip2{ margin-left:2% !important; }
.tracking2 h1, .tracking h1, .shipping h1{ margin-bottom:0; }


@media (min-width: 550px) and (max-width: 1024px) {
.other-images .four.columns{ width:50%; margin-left:0; }
.other-images .last{ width:100% !important; text-align: center; }
.mnninc{ display: none }
.main2{ display: block !important; padding:2%; }
.main2 .main .seven.columns{ width:55%; }
.main2 .main .five.columns{ width:43%; margin-left:2%; background-color: #FBF9ED; padding:5% 7%;}
.main2 .inc{ padding-top:2%; }
.main2 .inc .seven.columns{ width:55%; margin-left:2%; background-color: #FBF9ED; padding:5% 7%; }
.main2 .inc .five.columns{ width:43%;}
.spandtr .eight.columns{ width:100% !important; margin-left:0; }
.spandtr .eight.columns .row .six.columns{ width:50%; margin-left:0; }
.spandtr .four.columns{ width:100% !important; margin-left:0 !important; margin-top: 2%; }
.tracking1{ display: none; }
.tracking2{ display: block !important; background-color: #C2B59B; padding:7% 3%; }
.tracking2 .twelve.columns{ padding:0 7%; }
.tracking2 hr{ width:100%; float:left;}
.tracking2 .six.columns{ width:50%; margin-left:0; padding:0 7%;  }
.tracking2 .six.columns{ padding-right: 9%; }
.guides .six.columns{ width:100%; margin-left:0; }
.tips .six.columns{ width:100%; margin-left:0 !important; margin-top:2%; padding:5% 7%;}
.t1{ margin-top:0 !important; }
.shipping .container .row{ width:90%; float:none; margin:0 auto;}
.shipping .row .six.columns{ width:50%; margin-left:0; }
.withpadding{ padding-right:7%; }
}
/*Tablets and Laptop*/



/*Mobile*/
@media (max-width: 549px) {
.mnninc{ display: none; }
.main2{ display:block !important; padding:2%; }
.main2 .main .five.columns{ background-color: #FBF9ED; padding:5% 7%; margin:2% 0; text-align: center;}
.main2 .inc .seven.columns{ background-color: #FBF9ED; padding:5% 7%; text-align: center; margin-top: 2%; }
.spandtr .eight.columns{ width:100% !important; margin-left:0;}
.spandtr .eight.columns .row .six.columns{  padding:0 10%;  }
.guides .six.columns{ width:100%; margin-left:0; }
.tracking1{ display: none; }
.tracking2{ display: block !important; text-align: center; padding:5% 10%; background-color: #C2B59B; margin-top:2%;}
.shipping{ text-align: center; }
.shipping hr{ width: 100% }
.shipping .six.columns{ padding:0 7%; }
.tips .six.columns{ width:100%; margin-left:0 !important; margin-top: 2%; padding:5% 10%;}
.t1{ margin-top: 0 !important; }
}/*Mobile*/

