html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
}
img[src*="spacer.jpg"] {display: none;}


.container {
  position: relative;
  width: 88%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 92%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 92%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}
a{ color: white; }
.label{ font-weight: bold; }
.red{ background-color: #BC1B23; }
.title{ width: 45%; margin: 5% auto; text-align: center; color: white; border: 3px solid #ffffff;}
.specs{ background-color: #EDEDED; }
.specs .row{ width: 30%; margin: 0 auto; padding: 3% 0;}
.main .row{ width: 70%; float: none; margin: 0 auto; text-align: center; }
.shippingAndTracking{ background-color:#BC1B23;  }
.shippingAndTracking .six.columns{ color:white; text-align: center; padding:3% 5%;}
.shippingAndTracking .six.columns h1{ margin:0; padding:3% 5%; border:2px solid white; }
.tips .row{ width:70%; margin:0 auto; float: none; text-align: center; }
/*Tablets and Laptop*/
@media (min-width: 550px) and (max-width: 1024px) {
.title{ width: 70%; }
.specs .row{ width: 70%; }
.main{ margin: 7% auto; }
.other-images{ text-align: center; }
.tips .row{ width:100%; margin:0 auto; float: none; }
.shippingAndTracking .six.columns{ width:100%; margin:0 auto; float:none; }
.shippingAndTracking .six.columns .twelve.columns{ width:50%; margin-left:0; padding:2% 5%; }
.main .row{ width: 100%; }
}
/*Tablets and Laptop*/

/*Mobile*/
@media (max-width: 549px) {
.title{ width:92%; }
.specs .row{ width:80%; padding-top: 5%; padding-bottom: 5%;}
.tips .row{ width:100%; margin:0 auto; float: none; }
.main .row{ width: 100%; }
.shippingAndTracking .six.columns{ padding:7% 10%; }
}/*Mobile*/
