html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Tahoma", Arial, sans-serif;
}

.label{ font-weight: bolder; }
img[src*="spacer.jpg"] {display: none;}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/*Utilities*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*Utilities*/

@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

@media (min-width: 1025px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  
}

hr{ border:3px solid black; }
.main .eight.columns,.main .four.columns{ text-align: center; }
.main .eight.columns .row .five.columns{ padding:5% 3%; }
.main .four.columns{ padding:5% 3%; }
.specs h1{ padding-left:3%; }
.specs .four.columns{ padding:3% 5%; }
.shippingAndWatch .four.columns{ width:35%; margin-left:0; }
.shippingAndWatch .eight.columns{ width:65%; margin-left:0; }
.shippingAndWatch .four.columns h1{ padding-left:10%; }
.shippingAndWatch .four.columns .row{ padding:3% 10%; }
.tips h1{ padding-left:3%; }
.tips .six.columns{ padding:3% 5%; }
.resistanceAndTracking .four.columns{ width:35%; margin-left:0; }
.resistanceAndTracking .eight.columns{ width:65%; margin-left:0; }
.resistanceAndTracking .four.columns h1{ padding-left:10%; }
.resistanceAndTracking .four.columns .row{ padding:3% 10%; }

@media (min-width: 550px) and (max-width: 1024px) {
.main .eight.columns{ width:100%; margin-left:0; }
.main .eight.columns .row .seven.columns{ width:60%; margin-left:0; }
.main .eight.columns .row .five.columns{ width:40%; margin-left:0; padding:3% 7%; }
.mainSpecs{ display: none; }
.specsLaptop{ display: block !important; }
.specsLaptop .six.columns{ width:50%; margin-left:0; padding:3% 7%;}
.other-images .four.columns{ width:50%; margin-left:0; text-align: center; }
.other-images .four.columns:last-child{ width:100% !important; }
.shippingAndWatch .four.columns{ width:100%; margin-left:0; }
.shippingAndWatch .eight.columns{ width:100%; margin-left:0; }
.shippingAndWatch .four.columns .row .twelve.columns{ width:50%; margin-left:0; padding:0 5%; }
.tips .row .six.columns{ width:50%; margin-left:0; padding:3% 5%; }
.resistanceAndTracking .eight.columns{ width:100%; margin-left:0; }
.resistanceAndTracking .four.columns{ width:100%; margin-left:0; }
.resistanceAndTracking .four.columns .twelve.columns{ width:50%; margin-left:0; padding:3% 5%;}
h1{ padding:0 !important; text-align: center; }
}
/*Tablets and Laptop*/



/*Mobile*/
@media (max-width: 549px) {
h1{ padding:3% 7% !important; text-align: center; }
.specs .row{ padding:3% 5%; }
.shippingAndWatch .four.columns{ width:100%; margin-left:0; }
.shippingAndWatch .eight.columns{ width:100%; margin-left:0; }
.resistanceAndTracking .eight.columns{ width:100%; margin-left:0; }
.resistanceAndTracking .four.columns{ width:100%; margin-left:0; }
.tips .row{ padding:3% 5%; }
}/*Mobile*/

