

.unlocked{ background-color: #FFEBD5; margin-top:4%;}
.unlocked .row{ display: flex; }
.unlocked .row .five.columns:nth-child(2){ align-self: center; padding:0 4%; }
.camera{ background-color: white; position: relative; z-index: 10;}
.camera .row{ display: flex; }
.camera .six.columns:first-child{ padding:0 4%;}
.camera .six.columns:nth-child(2){ padding:0 4%; align-self: center;}
.hilight{ background-color: #ECECEC; margin-top:-10px; position: relative; z-index: 20;}
.hilight .row{ display: flex; }
.hilight .six.columns:first-child{ align-self: center; padding: 0 4%}
.hilight .six.columns:last-child{ padding:0 8%; padding-top:4%; }
.beautify{ background-color: white; position: relative; z-index: 50; margin-top:-10px; }
.beautify .row{ display: flex; }
.beautify .six.columns:last-child{ align-self: center; }
.beautify .six.columns:first-child{ padding:7% 4%; align-self: center; }
.grip{ background-color: #FFEBD5; z-index: 60; position: relative; }
.grip .row{ display: flex; }
.grip .row .six.columns:first-child{ align-self: center; padding:0 4%; }
.grip .row .six.columns:last-child{ margin-top:3%; }
.touch{ background-color: white; margin-top:-10px; position: relative; z-index: 70; }
.touch .row{ display: flex; }
.touch .six.columns:first-child{ padding:10% 4%; align-self: center;}
.touch .six.columns:last-child{ align-self: center; }
.memory{ background-color: #ECECEC; }
.memory .row{ display: flex; }
.memory .six.columns{ align-self: center; padding:0 4%; }
.battery{ background-color: white; }
.battery .row{ display: flex; }
.battery .row .three.columns{ align-self: center; }
.battery .row .three.columns.s1{ text-align: right; }
.battery .row .three.columns:last-child{ text-align: right }
.battery .row .six.columns{ padding:8% 4%; }
.os{ background-color: #B9E2DC; }
/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/

.highlight img{ max-width:70%; }
.feature .row{ width:92%; }
.feature .ico{ width:75px; }
.feature h3{ font-size:115%; }

.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; }
.unlocked .row .five.columns:nth-child(2){ text-align: center; padding:0 10%; padding-bottom:10%;}
.camera .row{ display: block; }
.camera .six.columns{ text-align: center; }
.camera .six.columns:last-child img{ width:70%; }
.cam-feat-wr{ display: flex; justify-content: center; }
.cam-feat{ padding:0 5%; }
.hilight .row{ display: block; text-align: center;}
.hilight p{ width:70%; margin:0 auto; }
.hilight img{ width:70%; }
.beautify .row{ display: block; }
.beautify .six.columns:first-child{ text-align: center; padding:0 10%; margin-bottom:4%; }
.beautify .six.columns:last-child{  text-align: right; padding-bottom:4%; }
.beautify .six.columns img{ width:70%; }
.grip .row{ display: block; text-align: center; }
.grip .row .six.columns:first-child{ padding:4% 10%; }
.grip .row .six.columns:last-child img{ width:70%; }
.touch .row{ display: block; }
.touch .row .six.columns:first-child{ text-align: center; padding:0 10%; padding-top:4%;}
.memory .row{ display: block; text-align: center; }
.memory .six.columns:first-child img{ width:70%; }
.memory .six.columns:last-child{ padding:0 10%; padding-bottom:8%; }
.battery .row{ display: block; text-align: center;}
.battery .row p{ width:70%; margin:0 auto; }
.battery .s2{ padding:0 !important;}
.battery .s2 img{ padding-bottom:4%; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
.highlight img{ max-width:70%; }
.highlight .colors div{ width:50px; height:50px; border-radius: 50%; display: inline-block; margin:0 4px;}


.package .row, .gift .row{ width:80%; margin:0 auto; text-align: center; }

.s1{ display: none; }
.s2{ display: block !important; }

.unlocked .row{ display: block; }
.unlocked .row .five.columns:nth-child(2){ text-align: center; padding:0 10%; padding-bottom:10%;}
.camera .row{ display: block; }
.camera .six.columns{ text-align: center; }
.camera .six.columns:last-child img{ width:70%; }
.cam-feat-wr{ display: flex; justify-content: center; }
.cam-feat{ padding:0 5%; }
.hilight .row{ display: block; text-align: center;}
.hilight p{ width:70%; margin:0 auto; }
.hilight img{ width:70%; }
.beautify .row{ display: block; }
.beautify .six.columns:first-child{ text-align: center; padding:0 10%; margin-bottom:4%; }
.beautify .six.columns:last-child{  text-align: right; padding-bottom:4%; }
.beautify .six.columns img{ width:70%; }
.grip .row{ display: block; text-align: center; }
.grip .row .six.columns:first-child{ padding:4% 10%; }
.grip .row .six.columns:last-child img{ width:70%; }
.touch .row{ display: block; }
.touch .row .six.columns:first-child{ text-align: center; padding:0 10%; padding-top:4%;}
.memory .row{ display: block; text-align: center; }
.memory .six.columns:first-child img{ width:70%; }
.memory .six.columns:last-child{ padding:0 10%; padding-bottom:8%; }
.battery .row{ display: block; text-align: center;}
.battery .row p{ width:70%; margin:0 auto; }
.battery .s2{ padding:0 !important;}
.battery .s2 img{ padding-bottom:4%; }
.temper img{ max-width:50%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

