html, body {
  /*max-width:100vw;
  overflow-y:scroll;*/
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.label{ font-weight: bolder; }
img[src*="spacer.jpg"] {display: none;}

ul {
    list-style-position: inside;
    padding-left:0;
}

.container{position:relative;width:92%;margin:0 auto;box-sizing:border-box}.column,.columns,.u-full-width{width:100%;box-sizing:border-box}.column,.columns{float:left}.u-max-full-width{max-width:100%;box-sizing:border-box}.u-pull-right{float:right}.u-pull-left{float:left}.container:after,.row:after,.u-cf{content:"";display:table;clear:both}@media (min-width:400px){.container{width:92%;padding:0}}@media (min-width:1025px){.container{width:92%}.column,.columns{margin-left:4%}.column:first-child,.columns:first-child{margin-left:0}.one.column,.one.columns{width:4.66666666667%}.two.columns{width:13.3333333333%}.three.columns{width:22%}.four.columns{width:30.6666666667%}.five.columns{width:39.3333333333%}.six.columns{width:48%}.seven.columns{width:56.6666666667%}.eight.columns{width:65.3333333333%}.nine.columns{width:74%}.ten.columns{width:82.6666666667%}.eleven.columns{width:91.3333333333%}.twelve.columns{width:100%;margin-left:0}.one-third.column{width:30.6666666667%}.two-thirds.column{width:65.3333333333%}.one-half.column{width:48%}}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');


.model{ text-align: center; }
.def1{ text-align: center; }
.def2{ text-align: center;  }
.def3{ text-align: center;  }
.shtr{ text-align: center; }
.specs{ text-align: center; }

/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/
.f-ii{ width:60%; margin:0 auto; padding:4% 0; text-align: left !important; }
.pack{ padding:4% 0; }

/************************************************************************************************/
/************************************************************************************************/
/*Main*/
/************************************************************************************************/
/************************************************************************************************/

/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/

@media (min-width: 550px) and (max-width: 1024px) {
/************************************************************************************************/
/************************************************************************************************/
.free h1{ font-size: 2.5em; }
.free .row{ width:92%; margin:0 auto; padding:4% 0; display: flex;}
.free .row:last-child img{ max-width:90%; }
.free .row:last-child h1{  text-align: center;}
.main img{ max-width:100%; }


/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Tablets and Laptop*/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/
@media (max-width: 549px) {
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
.free h1{ font-size: 2em; }
.free .row{ display: block; }
.free .row:last-child img{ max-width:90%; }
.free .row:last-child h1{  text-align: center;}
.dfy{ padding:8%; }
.specs img{ width:100px; align-self: center; }
.main img{ max-width:100%; }

/************************************************************************************************/
/************************************************************************************************/
}
/************************************************************************************************/
/************************************************************************************************/
/*Mobile*/
/************************************************************************************************/
/************************************************************************************************/

